.parentSelect{
     @apply
     flex
}
.select{
     @apply
     w-[50%]
}
.selectOption{
     @apply
     block 
     w-[100%] 
     px-4 
     py-2 
     ml-11
     mt-5
     border 
     border-gray-300 
     rounded 
     shadow-sm 
     focus:outline-none 
     focus:border-blue-500
     capitalize
     md:ml-14
     lg:mx-7
}
.parentBtnSort{
     @apply
     ml-14
     mt-5
     md:ml-28
    text-white
    
}

.lableSort{
     @apply
     capitalize
     p-2
}