.parentAddress{
     @apply
     text-white
     lg:mx-5 
}

.titleAddress{
     @apply
     capitalize
     text-white
     text-center
     lg:text-left
     font-bold
     text-xl
     m-3
}
.parentContentAddress{
     @apply
     bg-slate-600
     w-[90%]
     lg:w-[100%]
     py-2
     px-5
     mt-7
     mx-auto
     rounded-lg
}
.parentContentAddress p{
     @apply
     flex
     py-2
     capitalize
}
.parentContentAddress span{
     @apply
     px-2
}