
.parentSwiper{
     @apply
     w-[93%] 
     px-5
     py-14
     pr-20
    md:pr-12   
  
}

.parentMap{
@apply
text-white
  relative
  mb-20
}

.parentMap:hover .absoluteMap{
     @apply
     w-[100%]
     
}

.parentMap:hover .btnMap{
     @apply
     block 
}

.absoluteMap{
@apply
absolute
top-0
left-0
bg-[#7a39ea]
w-[0%]
h-[100%]
rounded-xl
duration-500
flex
flex-col
justify-between
align-middle
overflow-hidden
}


.title{
     @apply
     text-white
     text-center
      py-10
      ml-16
      md:ml-0
     -mt-10  
     text-3xl
     font-bold
}

.imgSlider{
     @apply
     rounded-xl
     h-[350px]
     mt-14    
}

.textSlider{
     @apply
     font-bold
     py-4
}

.countryMap{
     @apply
     w-[200px]
     mt-40
     mx-auto
     text-center
     capitalize
     px-3
}

.btnMap{
     @apply
     absolute
     bottom-10
     left-[50%]
     -translate-x-[50%]
     btn 
     btn-outline 
     btn-success
     capitalize
     w-[150px]
     hidden
     text-white
     delay-500
     hover:bg-transparent
}

.navigation {
     @apply
     absolute
     -bottom-8
     -translate-y-[50%]
     left-0
     right-0
     flex
     justify-start
     align-middle
     z-[1]
}

.stylenavigation{
     @apply
     mx-2
     mt-10
     text-white
     font-bold
     bg-[#6c52ee]/[.70]
     w-[40px]
     h-[40px]
     rounded-full 
     duration-300
     flex
     justify-center
     align-middle
     pt-3
     cursor-pointer
     hover:bg-[#6c52ee]
}
