.parentDragon{
     @apply
     py-10
     px-10
     md:px-16
     overflow-x-hidden
}

.backDragon{
     @apply
     bg-[#18133a]
     text-gray-100
     p-10
     md:p-20
     grid
     grid-cols-1
     gap-4
     justify-center
     md:grid-cols-4
}
.imgDragon{
     @apply
     rounded-full
}
.parentHouse{
     @apply
     mt-6
}
.house{
     @apply
     text-2xl
     uppercase
     lg:text-4xl
}
.dragon{
     @apply
     text-3xl
     uppercase
     font-bold
     py-3
     md:text-2xl
     lg:text-4xl

}
.new{
     @apply
     text-xl
     uppercase
}
.parentOct{
     @apply
     py-5
     pl-2
}
.stream{
     @apply
     font-semibold
     text-3xl
     md:text-2xl
     lg:text-3xl
     uppercase
     py-2

}
.btnWatch{
@apply
bg-sky-50
text-black
py-5
w-[150px]
rounded-xl
font-bold
mt-20
md:ml-10
capitalize
hover:bg-[#7d6ef1]

}